{% extends "layout.html" %}
{% block content %}
<div class="works">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <div class="titlepage">
               <h2>Add new player</h2>
               <form method="POST" action="">
                  {{ form.hidden_tag() }}
                  <fieldset class="form-group">
                     <div class="form-group">
                        {{ form.first_name.label(class="form-control-label") }}
                        {{ form.first_name(class="form-control") }}
                     </div>
                     <div class="form-group">
                        {{ form.last_name.label(class="form-control-label") }}
                        {{ form.last_name(class="form-control") }}
                     </div>
                     <div class="form-group">
                        {{ form.date_of_birth.label(class="form-control-label") }}
                        {{ form.date_of_birth(class="form-control") }}
                     </div>
                     <div class="form-group">
                        {{ form.gender.label(class="form-control-label") }}
                        {{ form.gender(class="form-control") }}
                     </div>    
                     <div class="form-group">
                        {{ form.submit(class="form-control btn-primary") }}
                     </div>            
                  </fieldset>
               </form>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock content %}